@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
:root {
    --poppins: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.papan-berita {
    background-color: aliceblue;
    border-radius: 7px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.berita-satu {
    width: 100%;
    height: 27em;
    border-radius: 5px;
    overflow: hidden;
    background-position: center;
    position: relative;
    border: 1px solid #b3b3b3;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
img.gambar-satu {
    width: 120%;
    transform: translate(-5%, -25%);
}
.judul-berita {
    position: absolute;
    z-index: 99;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
}
.warna-judul > h3 {
    color: rgb(55, 81, 126);
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
    font-family: var(--poppins);
    font-size: 1.3rem;
    font-weight: 600;
}
.warna-judul > p {
    color: rgb(59, 59, 59);
    text-shadow: 0px 1px 1px rgba(59, 59, 59, 0.3);
    font-family: var(--poppins);
    font-weight: 200;
}

div.berita-lainnya {
    border: 1px solid #b3b3b3;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.gambar-dua {
    width: 400px;
}
.bodi-judul > a > h5 {
    font-size: medium;
    margin-top: -10px -10px;
}
.bodi-judul > a > h5,
.card-footer > small {
    font-family: var(--poppins);
}

.beritalainnya {
    margin-top: 200px;
}
