@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
    --poppins: "Poppins", sans-serif;
    --oranye: rgb(255, 127, 80);
    --abu: #474747;
}
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(222, 222, 222);
    overflow-x: hidden;
}
p {
    font-weight: 400;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.3);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
.tombol {
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 127, 80, 0.8);
    background-image: linear-gradient(to right, orange, rgb(255, 127, 80));
}
.tombol:hover {
    text-shadow: 1px 1px 2px rgba(255, 127, 80, 0.8);
    color: yellow;
    border: 1px solid red;
    box-shadow: 0px 0 3px rgba(255, 0, 0, 0.8);
}
.garis-hr {
    margin-top: 0;
    margin-bottom: 30px;
    border: 1px solid;
}

/* NAVBAR */
nav {
    background-color: rgba(255, 127, 80, 0.9);
    border-bottom: 1px solid white;
    margin-top: 0;
}
.nav-item > a {
    font-weight: 400;
    color: white;
}
a.nav-link.aktif {
    color: yellow !important;
}
.navbar .navbar-nav .nav-link:hover {
    color: blue;
}
.navbar .navbar-nav .nav-item {
    margin: 0 1em;
}

/* HERO */
#hero {
    position: relative;
    background-image: linear-gradient(
        to right,
        orange,
        rgb(255, 127, 80),
        purple
    );
}
#hero h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(255, 127, 80, 0.8);
}
#hero h4 {
    color: yellow;
    text-shadow: 1px 1px 2px rgba(255, 127, 80, 0.8);
}

@media (max-width: 991.98px) {
    .img-hero {
        display: none;
    }
}

/* CLIENTS */
#clients {
    position: relative;
    background-color: #c9c9c9;
}
.klien {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}
.klien-icon {
    padding: 10px;
    transition: 0.3s;
}
.klien-icon:hover {
    border: 1px solid rgb(255, 255, 255);
    background-color: #a7a7a7;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
.klien-sub {
    height: 2.5em;
}

/* BERITA */
.berita-ref {
    position: relative;
    width: 20em;
    height: 15em;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.berita-kotak {
    display: flex;
    align-items: center;
    justify-content: center;
}
.berita-kotak img {
    transform: scale(2);
}
.berita-judul {
    position: absolute;
    padding: 5px;
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

/* PELAYANAN */
#pelayanan {
    background-color: rgb(73, 73, 73);
    margin-bottom: 60px;
    padding: 40px 40px;
}
.pelayanan-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pelayanan-box {
    background-color: white;
    width: 17em;
    height: 18em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    transition: 0.3s;
}
.pelayanan-box:hover {
    transform: translateY(-7px);
    transition: 0.5s;
}
.pelayanan-box > h1 {
    color: var(--oranye);
}
.pelayanan-box > h4,
.pelayanan-box > p {
    color: #474747;
}

/* MADRASAH */
.accordion-header > button h6 {
    color: var(--oranye);
}

/* INFORMASI */

/* KONTAK */
.kontak-alamat {
    list-style-type: none;
    margin-bottom: 20px;
}
.kontak-alamat h6 {
    color: #474747;
}

/* FOOTER */
footer {
    background-image: linear-gradient(
        to left,
        rgb(216, 141, 0),
        rgb(255, 127, 80),
        purple
    );
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    padding: 30px 5px 0 5px;
}
footer div.link {
    margin-top: 2em;
    padding-left: 3em;
}
footer div ul li {
    list-style-type: none;
    margin-left: -2.2em;
}
footer div ul li a {
    text-decoration: none;
    color: white;
}
